html,
body {
    margin: 0;
    color: #222222;
    font-family: arial, helvetica, "sans-serif";
}

#main-container {
    padding: 0 20px;
    display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "forma map";
}

#header {
    padding: 20px 0;
}

#order-form {
     box-sizing: border-box;
 
}

#order-form button {
    width: 400px;
    background-color: #6b66f7;
    color: #FFFFFF;
    line-height: 40px;
    border: none;
    font-size: 16px;
}



table td,
table th {
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: left;
}

table th {
    white-space: nowrap;
    background-color: #333333;
    color: #ffffff;
}

table th a {
    color: #FFFFFF;
    text-decoration: none;
}

.form-field {
    padding: 0 0 10px 0;
}

.form-field label {
    display: block;
}

.form-field input,
.form-field textarea {
    width: 400px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    padding-right: 10px;
}

.nav li a {
    text-decoration: none;
    color: #6b66f7;
}

.nav li a:hover {
    color: #4879af;
}

.mainDesc {
    color: white;
    font-size: 3em;
}

/*  */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
      /* float: left; */

    background-color: #0b6b15;
    /* width: 25%; */

}
.mid{
  /* width: 50%; */
 right: 200px; 
    /* float: left; */
    color: red;


}

.right {
    right: 0;
    background-color: #0b616b;
      /* float: left; */

/* width: 25%; */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.forma { grid-area: forma; }
.map { grid-area: map; }